<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">找回密码</h2>

                <p>
                    输入邮箱地址，我们将发送一条包含重置密码的邮件给您。请按照指示操作
                </p>

                <div class="row">

                    <div class="col-lg-12">
                        <form class="m-t" role="form" action="index.html">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="输入邮箱地址" required="">
                            </div>

                            <button type="submit" class="btn btn-primary block full-width m-b">发送邮件</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <p class="m-t"> <small><a href="http://www.16fenqi.com" target="_blank">上海乔融金融信息服务有限公司</a> &copy; 2017-2018</small> </p>
</div>