<div class="middle-box text-center loginscreen  animated fadeInDown" >
  <div>
    <img width="100%" src="img/icon/logo.png" alt="" style="">
    <h3>欢迎使用 舵定分管理平台</h3>
    <form class="m-t" name="loginForm">
      <div class="form-group">
        <input type="text" class="form-control loginName" placeholder="输入账号"  ng-model="name">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="输入密码"  ng-model="pwd">
      </div>
      <button type="button" class="btn btn-primary block full-width m-b" ng-click="login()">登录</button>
    </form>
    <p class="m-t">
      <!--<small><a href="http://www.16fenqi.com" target="_blank">上海乔融金融信息服务有限公司</a> &copy; 2017-2018</small>-->
    </p>
  </div>
</div>