<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">乔融</h1>
        </div>
        <form class="m-t" role="form" action="login.html">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="输入用户名" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="输入邮箱地址" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="输入密码" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="确认密码" required>
            </div>
            <div class="form-group">
                <div class="checkbox i-checks"><label> <input type="checkbox" required><i></i> 接受服务条款和隐私政策 </label></div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">注册</button>

            <p class="text-muted text-center"><small>已经有账号？</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="login">去登陆</a>
        </form>
        <!--<p class="m-t"> <small><a href="http://www.16fenqi.com" target="_blank">上海乔融金融信息服务有限公司</a> &copy; 2017-2018</small> </p>-->
    </div>
</div>